*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header {
   
 
    align-items: center;
justify-content: space-between;


background-color: black;



}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 

    
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

nav ul li a{
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    
}
.box{
    background-image:url("./slider2\ 2.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1360px;
    height: 385px;

}
input{
    width: 300px;
height: 50px;
font-size: 20px;


}
main section h1{
    text-align: center;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 25px;

}
.cards{
    width: 290px;
height: 302px;
box-shadow: 0px 17px 27px -4px #00000040;
margin-top: 50px;
margin-bottom: 100px;




}
.cards h2{
    text-align: center;
    margin-top: 25px;
margin-bottom: 25px;
    
}
.cards p{
font-weight: 800;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
span{
    color: #76B900;
    font-size: 20px;


}
.ota1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.heroo{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px
    ;
}
.heroo .hero1 h1{
    color: #76B900;
    margin-bottom: 20px;
}
.hbtn{
    width: 233px;
height: 62px;
font-size: 20px;
font-weight: 600;
background-color: #76B900;
border: none;
margin-top: 100px;


}
footer{
    margin-top: 100px;


    
}
.img1{
    margin-right: 900px;
}